body {
    font-family: helvetica;
    font-size: 22px;
    background-color: black;
    opacity: 0.9;
    color: seashell;
    margin: 0;
    margin-left: 30px;
    height: 100%;
}

.wrapper {
    margin-left: 60px;
    margin-right: 60px
}


/* Navbar section */

.container {
    display: flex; 
    background-color: black;
    width: 1200px;
    height: 69px;
    margin-left: 20px;
    border-bottom: 1px solid seashell;
    justify-content: space-between;
    position: fixed;
    overflow: hidden;
    padding: 0;
    z-index: 99;
}

.logo img {
    height: 50px;
    width: auto;
    padding-top: 5px;
    padding-left: 10px; 
  
}

/* navigation */


.links {
    display: flex; 
    padding-top: 0;
}

.links li {
    text-decoration: underline;
    list-style: none;
    padding-left: 30px; 
    padding-right: 20px;
}

/*Mission Section */


.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/img-mission-background.jpg"); 
    background-repeat: no-repeat;
    height: 700px;
    width: 1200px; 
    margin-left: 20px;
    margin-right: 0;
}

.statement {
    background-color: black;
    height: 60px;
    width: 1200px;
    padding-bottom: 15px;
    padding-top: 1px;
    text-align: center;  
}

.statement h2, h4 {
    margin: 0;
    padding: 2px; 
    opacity: 0.9;  
}


/* Tea of the month section */

.center {
    width: 1200px;
    text-align: center;
    margin-left: 20px;
    padding-top: 100px;
    margin-bottom: 30px;
}

.center h5 {
    font-size: 32px;
    padding: 0px;
    margin: 0;
    opacity:0.9;
}

.center p {
    padding-bottom: 20px;
    font-weight: bold;
    opacity: 0.9;
}


/* Products Photo section */


.offerings-1 img, .offerings-2 img, .offerings-3 img, .offerings-4 img, .offerings-5 img {
    height: 200px;
    width: 300px;
    text-align: center;
}

.offerings {
    display: flex;
    width: 1000px;
    align-items: center;
    justify-content: space-around;
    padding-left: 115px;
    padding-right: 115px;  
}

.section-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 280px;
    padding-right: 340px;
    margin-right: 30;
}

.text-box-1, .text-box-2, .text-box-3, .text-box-4, .text-box-5  {
    justify-content: center;
    text-align: center;
    opacity: 0.9;
}


/* Location Section */

#title {
    width: 300px;
    font-size: 32px;
    font-weight: bold;
    text-align: center; 
    opacity: 0.9;
    order: 1;
}

.locations {
    background-image: url("../images/img-locations-background.jpg");
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center; 
    width: 1200px;
    height: 500px;
    margin-left: 20px;
    flex-wrap: wrap-reverse;
}

.downtown, .eastbayside, .oakdale {
    height: 250px;
    width: 300px;
    background-color: black;
    opacity: 1;
    text-align: center; 
    margin-right: 40px;
}

.downtown p, .eastbayside p, .oakdale p {
    padding-bottom: 15px
}


/* Footer */

footer {
    height: 200px;
    text-align: center;
    opacity: 0.9;
}

footer p {
    text-align: left;
    margin-left: 10px;
    font-size: 20px;
}

























